.restaurant-body {
  display: flex;
  flex-direction: column;
  .go-back {
    height: 35px;
  
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-top: 22px;
    color: #000000;
    margin: 0 12px 12px;
    text-decoration: none;
  }
  .card {
    margin: 20px;
  }
  .menu{
    .menu-list {
      display: flex;
      gap: 3vh;
      list-style: none;
      .list-item {
        text-decoration: none;
        color: black;
        width: 39px;
        height: 22px;
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.92px;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }
  
  }
  .dish-item {
    display: flex;
    padding-bottom: 13px;
    margin: 20px;
    max-height: 370px;

  }
}











