@import "../../assets/styles/setup/variables";

.restaurant-page-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 3vh;
  max-width: 500px;
  margin: auto;
  .page-title {
    height: 24px;
    align-self: flex-start;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: $app-letter-spacing-small;
    text-transform: uppercase;
    color: $app-color-black;
    margin: 14px;
  }
  .go-back {
    height: 35px;
    text-decoration: none;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 14px;
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: $app-color-black;
  }
  .menu {
    display: flex;

    .list {
      display: flex;
      gap: 3vh;
      justify-content: flex-start;
      align-items: flex-start;
      list-style: none;
      .item {
        text-decoration: none;
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.92px;
        color: $app-color-black;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .map {
        display: none;
      }
    }
  }
  .menu-desktop {
    display: none;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 13px;
    .restauarant-item {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-page-body {
    padding: 0;
    margin: 0px 127px 0px;
    max-width: 5000px;
  
    .page-title {
      display: none;
    }
    .go-back {
      display: none;
    }
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      .list {
        .item {
          font-weight: 200;
          font-size: 18px;
        }
        .map {
          display: flex;
          text-decoration: none;
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 200;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 1.92px;
          color: $app-color-black;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }
    .menu-desktop {
      display: flex;
      justify-content: center;
      //padding: 40px;
      background-color: $app-color-bg-grey;
      .list-desktop {
        display: flex;
        gap: 3vh;
        list-style: none;
        .item-desktop {
          text-decoration: none;
          width: fit-content;
          height: 22px;
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 200;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 1.92px;
          color: $app-color-black;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }
    .restaurants {
      max-width: 1600px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 380px);
      row-gap: 40px;
      margin: 0;
      column-gap: 24px;
      .restauarant-item {
        width: 100%;
      }
    }
  }
}
