.AboutUsComp_body {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 32px;
  background: #fafafa;
}
.AboutUsComp_aboutLogo {
  width: 102px;
  height: 95px;
  left: 19px;
  top: 2920px;
  padding-left: 2%;
  padding-top: 4%;
}

.AboutUsComp_title {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
  padding-left: 2vh;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #000000;
}

.AboutUsComp_parograph {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.14px;
  padding-bottom: 2vh;
  padding-left: 2vh;
  color: #000000;
}

.store-media-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2vh;
  gap: 15px;
  flex-direction: column;
  width: 290px;
  .store-buttons {
    width: 135px;
    height: 37px;
    border-radius: 6.7px;
    border: solid 0.5px black;
    display: flex;
    align-items: center;
    img {
      height: 20px;
      width: 17px;
      margin-right: 10px;
    }
    .store-buttons-upper-text {
      font-size: 10px;
    }
    .store-buttons-lower-text {
      font-size: 12px;
    }
  }
}
