@import '../../../../assets/styles/setup/variables';

.best-dishes-comp-body {
  width: 100%;
  padding-left: 3vh;
  padding-bottom: 46px;
 
  .body-title {
    height: 24px;
    left: 20px;
    top: 367px;
    align-self: flex-start;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: $app-letter-spacing-small;
    text-transform: uppercase;
    color: $app-color-black;
  }
  .button {
    height: 35px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-top: 22px;
    color: $app-color-black;
    text-decoration: none;
  }
  // .dishes-list{
  //   // width: fit-content;
  //   // max-height: 400px;
  // }
}



@media screen and (min-width: 1024px) {
  .best-dishes-comp-body {
    // margin: 80px auto;
    // padding: 0;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    margin: auto;
    .body-title {
      height: 35px;
      display: flex;
      justify-content: center;
      align-self: center;
      font-size: 30px;
      line-height: 35px;
      padding-bottom: 40px;
    }
    .slider-wrapper {
      margin: 0 127px;
      align-items: center;
    }
    .button-wrapper {
      display: flex;
      text-align: right;
      align-items: flex-end;
      justify-content: end;
      .button {
        align-self: flex-end;
        justify-self: end;
        padding-right: 127.5px;
      }
    }
  }
}







