@import "../../assets/styles/setup/variables";

.CardComp_small {
  width: 245px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  justify-content: start;
  background: $app-color-card-bg;
  height: 230px;
  
  .img {
    width: 245px;
    height: 150px;

  }
  .contant {
    display: flex;
    flex-direction: column;
    margin: 16px 8px 0 16px;
    .title {
      text-align: left;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 15px;
      letter-spacing: 2.67px;
      color: $app-color-black;
      flex: none;
      order: 0;
      flex-grow: 0;
      padding-bottom: 8px;
    }
    .description {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      letter-spacing: $app-letter-spacing-nurmal;
      color: $app-color-black;
      flex: none;
      flex-grow: 0;
    }
    .icon-wrapper {
      display: flex;
      flex-direction: column;
      .type {
        height: 30px;
        text-align: left;
      }
      .price {
        position: absolute;
        bottom: 0;
      }
    }
  }
  // position: relative;
}

.CardComp_big {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background: $app-color-card-bg;
  position: relative;
  height: 388px;
  width: 245px;
  .img {
    width: 245px;
    height: 150px;
  }
  .contant {
    display: flex;
    flex-direction: column;
    margin: 16px 8px 0 16px;
    .title {
      text-align: left;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 15px;
      letter-spacing: 2.67px;
      color: $app-color-black;
      padding-bottom: 8px;
    }
    .description {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      letter-spacing: $app-letter-spacing-nurmal;
      padding-bottom: 16px;
    }
    .icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      bottom: 5px;
      .type-array {
        display: flex;
        padding-bottom: 16px;
        .type {
          height: 26px;
        }
      .price {
        position: absolute;
        bottom: 0;
      }
      }
    }
  }
}

.slick-slider .slick-slide {
  padding: 0 16px 0 0;
  padding-right: 16px;
  // height: 350px;
  div {
    // width: 200px;
    //height: 0;
  }
}

@media screen and (min-width: 1024px) {
  .CardComp_small {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 405px;
    width: 380px;
    
    .img {
      height: 236px;
      width: 380px;
    }
    .contant {
      // padding-top: 100px;
      align-items: center;
      margin: 0;
      .title {
        font-weight: 400;
        font-size: 40px;
        padding: 18px;
      }
      .description {
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
  .CardComp_big {
    align-items: center;
    justify-content: center;
    width: 379px;
    bottom: 0;
    height: 450px;
    .img{
      height: 305px;
      width: 100%;
    }
    .contant {
      align-items: center;
      height: 100%;
      margin: 0;
     

      .title {
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        align-items: center;
        text-align: center;
        width: 100%;
        // margin: 12px 40px;
        margin: 24px 0 8px;
      }
      .description {
        font-size: 16px;
        margin: 0 10px;
        // height: 176px;
        text-align: center;
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        height: 175px;
        overflow-wrap: anywhere;
      }
      .icon-wrapper {
        // flex-direction: column-reverse;
        // gap: 10px;
        // align-items: center;
        // justify-content: center;
        // bottom: 5px;
        // position: absolute;
        text-align: center;
        align-items: center;
        gap: 5px;
        // height: 70px;
      }
      .type-array {
        display: flex;
        justify-content: center;
        align-items: center;
      //  height: 70px;
      .type{
        height: 32px;
      }
      }

    }
  }
  .prise-warpper{
    display: flex;
    flex-direction: row;
    .price {
      text-align: center;
      justify-content: center;
    }

  }
  
  .slick-slider .slick-slide {
    padding: 0 24px 0 0;
    gap: 24px;

    div {

      height: fit-content;

    }
}

  
  }
 
