@import "../../assets/styles/setup/variables";

.CardComp_small {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  justify-content: start;
  background: $app-color-card-bg;
  .img {
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .contant {
    display: flex;
    flex-direction: column;
    margin: 16px 8px 0 16px;
    .title {
      text-align: left;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 15px;
      letter-spacing: 2.67px;
      color: $app-color-black;
      flex: none;
      order: 0;
      flex-grow: 0;
      
    }
    .description {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      letter-spacing: $app-letter-spacing-nurmal;
      color: $app-color-black;
      flex: none;
      flex-grow: 0;
    }
    .icon-wrapper {
      display: flex;
      flex-direction: column;
      .type {
        height: 30px;
        text-align: left;
      }
      .price {
        position: absolute;
        bottom: 0;
      }
    }
  }
  // position: relative;
}

.CardComp_big {
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  background: $app-color-card-bg;
  position: relative;
  .img {
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .contant {
    display: flex;
    flex-direction: column;
    margin: 16px 8px 0 16px;
    .title {
      text-align: left;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 15px;
      letter-spacing: 2.67px;
      color: $app-color-black;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    .description {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      letter-spacing: $app-letter-spacing-nurmal;
      color: $app-color-black;
      flex: none;
      flex-grow: 0;
    }
    .icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .type {
        height: 30px;
        text-align: start;
        
      }
      .price {
        bottom: 0;
      }
    }

  }
}

.slick-slider .slick-slide {
  padding: 0 16px 0 0;
  padding-right: 16px;
  div {
    width: 285px;
  }
}

@media screen and (min-width: 1024px) {
  .CardComp_small {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    .img {
      height: 50%;
    }
    .contant {
      align-items: center;
      margin: 0;
      .title {
        font-weight: 400;
        font-size: 40px;
        padding:18px;
      }
      .description {
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
  .CardComp_big {
    align-items: center;
    justify-content: center;
    width: 379px;
    bottom: 0;
    .contant {
      align-items: center;
      height: 100%;

      .title {
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        align-items: center;
        text-align: center;
        width: 100%;
        // margin: 12px 40px;
        
      }
      .description {
        font-size: 16px;
        margin: 0 10px;
        height: 176px;
        text-align: center;
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 8px;
      }
      .icon-wrapper{
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        bottom: 0;
        // position: absolute;
      
      }
    }
  }

  .slick-slider .slick-slide {
    padding: 0 24px 0 0;
    gap: 24px;
    div {
      width: 379px;
      // min-height: 380px;
      
    }
  }
}
