* {
  box-sizing: border-box;
  outline: none;
  
}

html {
  font-family: "Almoni", "English", sans-serif;
  color: $app-color-text;
  font-size: rem(16px);
}

body {
  margin: 0;
}

main {
  height: calc(100vh - 73px);
  width: calc(1440px - 220px);
}

p
{
  margin: 0;
}
ul {
  list-style: none;
  
}
li{
  padding: 0;
  //margin-right: 10px;
  width: fit-content;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}