@font-face {
  font-family: Almoni;
  src: url("../../fonts/almoni-tzar-aaa-regular.otf");
}
@font-face {
  font-family: Almoni-Bold;
  src: url("../../fonts/almoni-tzar-aaa-bold.otf");
}
@font-face {
  font-family: English-Bold;
  src: url("../../fonts/RobotoCondensed-Bold.ttf");
  unicode-range: 0020 — 007f;
}
@font-face {
  font-family: English;
  src: url("../../fonts/RobotoCondensed-Regular.ttf");
  unicode-range: 0020 — 007f;
}
