.Navbar_conteiner {
  display: flex;
  flex-direction: row;
}
.Navbar_leftside {
  flex: 1;
  margin: auto;
  text-align: left;
}

.Navbar_center {
  flex: 1;
  margin: auto;
  text-align: center;
}

.Navbar_rightSide {
  flex: 1;
  margin: auto;
  margin-right: 2vw;
  text-align: right;
}
