.navbar-conteiner {
  display: flex;
  // align-items: center;
  padding: 7px 20px;
  justify-content: center;
  opacity: 0.5;

  .leftside {
    flex: 1;
    margin: auto;
    opacity: 0.5;
  }
  .mobile {
    // flex: 1;
    margin: auto;
    text-align: center;
    opacity: 0.5;
  }

  .desktop {
    display: none;
  }
  .rightSide {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto;
    img:not(:last-of-type) {
      padding-right: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar-conteiner {
    padding: 15px 127px;
    .leftside {
      display: none;
    }
    .mobile {
      display: none;
    }
    .desktop {
      display: flex;
      opacity: 0.5;
      .desktop-img {
        max-width: 114px;
        max-height: 33px;
        margin: auto;
      }
      .desktop-ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
        .li a {
          text-decoration: none;
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 200;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 1.92px;
          color: #000000;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }
    }
    .rightSide {
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin: auto;
      opacity: 0.5;
      img:not(:last-of-type) {
        padding-right: 20px;
      }
    }
  }
}
