.BestResturantsComp_title {
  //   width: 326px;
  height: 24px;
  left: 20px;
  top: 367px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #000000;
}

.BestResturantsComp {
  align-items: center;
  width: 100%;
}

.BestRestaurantsComp_button {
//   width: 136px;
  height: 35px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  /* identical to box height, or 219% */

  text-align: left;
  letter-spacing: 2px;
  text-transform: capitalize;

  color: #000000;
}


