@import "../../assets/styles/setup/variables";
@import "../../assets/styles/responsive/mixins";

.footer-page-footer {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  
  margin: 28px 19px 20px;
  .href {
    height: 22px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.92px;
    color: $app-color-black;
    flex: 1;
    order: 0;
    flex-grow: 0;
  }
}

@media screen and (min-width: 1024px){
  .footer-page-footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: inherit;
    margin: 31px 510.5px;
  
    .href {
      flex: none;
    }
  }
}
