.FooterPage_footer {
  position: absolute;
  width: 377px;
  height: 202px;
  left: 0px;
  top: 3763px;

  background: #ffffff;
}

.FooterPage_footer_href{
  // width: 103px;
  height: 22px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 1.92px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
