.about-us {
  background: #fafafa;
  .body {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 32px;
    margin: 48px 20px;
    .aboutLogo {
      width: 102px;
      height: 95px;
      padding-top: 24px;
    }
    .store-media-buttons {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      flex-direction: column;
      width: 290px;
      .store-buttons {
        width: 135px;
        height: 37px;
        border-radius: 6.7px;
        border: solid 0.5px black;
        display: flex;
        align-items: center;
        img {
          height: 20px;
          width: 17px;
          margin-right: 10px;
        }
        .store-buttons-upper-text {
          font-size: 10px;
        }
        .store-buttons-lower-text {
          font-size: 12px;
        }
      }
    }
    .title {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 35px;
      text-align: justify;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #000000;
      padding-bottom: 16px;
    }
    
    .parograph {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 2.14px;
      padding-bottom: 2vh;
      color: #000000;
    }
  }
}






