.icon-dish-comp-body {
  display: flex;
  flex-direction: column;
  height: 69px;
  padding-bottom: 58px;
  .description {
    width: 136px;
    height: 35px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.97px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .img {
    background: transparent;
    align-self: center;
    margin: auto;
  }
}




