.icon_dish_img {
    left: 0%;
    right: 10.13%;
    top: 22.69%;
    bottom: 4.26%;
    background: transparent;
}

.icon_dish_description {
  width: 136px;
  height: 35px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  text-align: center;
  letter-spacing: 1.97px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
