.HomePage_body {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}



// .HomePage_img {
//   background-image: url(../../assets/backgroundPic.png);
//   width: 564.83px;
//   height: 273px;
//   left: -140px;
//   top: 46px;
// }

// .HomePage_popularRest {
//   width: 326px;
//   height: 24px;
//   left: 20px;
//   top: 367px;

//   font-family: "Helvetica Neue";
//   font-style: normal;
//   font-weight: 200;
//   font-size: 18px;
//   line-height: 24px;
//   /* identical to box height, or 133% */

//   letter-spacing: 1.25px;
//   text-transform: uppercase;

//   color: #000000;
// }

// .HomePage_title {
//   position: absolute;
//   width: 326px;
//   height: 24px;
//   left: 20px;
//   top: 367px;

//   font-family: "Helvetica Neue";
//   font-style: normal;
//   font-weight: 200;
//   font-size: 18px;
//   line-height: 24px;
//   /* identical to box height, or 133% */

//   letter-spacing: 1.25px;
//   text-transform: uppercase;

//   color: #000000;
// }
