.home-page-body {
  background-color: #ffffff;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-width: 500px;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .home-page-body{
    max-width: 1447px;
  }
}
