@import "../../../../assets/styles/setup/variables";
.chef-of-the-week-body {
  align-items: center;
  margin: 61px 20px 0;
  .tilte {
    height: 35px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: $app-letter-spacing-small;
    text-transform: uppercase;
    justify-self: start;
    color: $app-color-black;
  }
  .chef-wrapper {
    display: flex;
    flex-direction: column;

    .parent {
      display: flex;
      position: relative;
      text-align: center;
      flex-direction: row;
      height: 269px;
      .half-fade-image {
        height: 240px;
        width: 100%;
        margin: auto;
        flex: 1;
      }
      .opacity-div {
        width: 100%;
        height: 55px;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        font-size: 30px;
        padding-top: 10px;
        bottom: 0;
      }
    }
    .description {
      width: 100%;
      height: 252px;
      text-align: left;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: $app-letter-spacing-small;
      padding-bottom: 3%;
      color: $app-color-black;
    }
  }
  .chef-slider-wrapper {
    margin-left: 16px;
    .tilte-wrapper {
      padding-bottom: 16px;
      height: 35px;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 35px;
      letter-spacing: $app-letter-spacing-small;
      text-transform: uppercase;
      color: $app-color-black;
    }
  }
}

@media screen and (min-width: 1024px) {
  .chef-of-the-week-body {
    margin: 80px 127px;
    .tilte {
      justify-self: center;
      align-self: center;
      justify-content: center;
      display: flex;
      font-weight: 200;
      font-size: 30px;
    }
    .chef-wrapper {
      flex-direction: row;
      gap: 63.5px;
      .parent {
        display: flex;
        position: relative;
        text-align: center;
        flex-direction: row;
        height: 269px;
        width: 480px;
        .half-fade-image {
          height: 100%;
          width: 100%;
          margin: auto;
          flex: 1;
        }
      }
    }
    .chef-slider-wrapper {
      margin: 80px auto;
      max-width: 1450px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // margin: 0;
      .tilte-wrapper {
        font-size: 30px;
        line-height: 35px;
        text-transform:none;
      }
    }
  }
}
